.App {
  /* Obliczenie wysokości: calculate (100view height - 30px(margin * 2)) */
  height: calc(100vh - 30px);
  margin: 15px;

  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.4);

  background: rgba(255, 255, 255, 0.2);

  overflow: hidden;
}

.title {
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  letter-spacing: 10px;
  padding: 5px;
  margin: 10px;
}

.content {
  display: flex;
  padding: 10px;
  gap: 10px;
}
